.upload-container{
    padding:40px;
    display:flex;
    justify-content:center;
}

.upload-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0px 4px 20px rgba(0,0,0,0.1);
}

.upload-title{
    text-align:center;
    margin-bottom:30px;
    color:#1e293b;
}

.upload-input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #cbd5e1;
    border-radius:8px;
    font-size:15px;
    box-sizing:border-box;
}

.upload-file{
    margin-bottom:25px;
    width:100%;
}

.upload-btn{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.upload-btn:hover{
    background:#1d4ed8;
}

/* =====================================
   TABLET VIEW
   768px - 1024px
   ===================================== */

@media (max-width:1024px){

    .upload-container{
        padding:25px;
    }

    .upload-card{

        width:80%;

        max-width:500px;

        padding:35px;
    }

    .upload-title{

        font-size:30px;
    }

}


/* =====================================
   MOBILE VIEW
   Below 768px
   ===================================== */

@media (max-width:768px){

    .upload-container{

        padding:15px;
    }

    .upload-card{

        width:100%;

        max-width:400px;

        padding:25px;

        border-radius:12px;
    }

    .upload-title{

        font-size:24px;

        margin-bottom:20px;
    }

    .upload-input{

        padding:12px;

        font-size:14px;
    }

    .upload-file{

        font-size:14px;
    }

    .upload-btn{

        width:100%;

        padding:12px;

        font-size:15px;
    }

}